.movie-card{
    display: flex;
    margin: 40px;
    height: 400px;
    background-color: #eaedf1;

}

.movie-card .left {
    width: 42%;
   
}
.movie-card .left img{
    height: -webkit-fill-available;
    width: 92%;
}
.movie-card .left img:hover{
    transform: scale(0.88);
}
.movie-card .right{
    width: 41%;
    height: 398.5px;
}
.movie-card .right .all{
    height: 30px;
    font-size: 1.1rem;
   
}
.movie-card .right .title{
    height: 50px;
    font-size: 1.8rem;
    font-weight: bold;  
}
.movie-card .right .plot{
    height: 99px;
    font-size: 1.2rem;
    font-weight: bold;  
}

.footer{
    display: flex;
    width: 55%;
    justify-content: space-between;
    position: relative;
    left: 42%;
    font-size: 1.5rem;
    top: -79px;
}

.footer .star-dis img{
    height: 25px;
    width: 25px;
cursor: pointer;
}

 .footer .star-dis .star-img{
    height: 30px;
    width: 30px;
    cursor: pointer;
}
 .footer button{
    font-size: 1.7rem;
    margin-right: 7px;
    border-radius: 7px;
    border: 1px solid darkslategrey;
    color: white;
    background: green;
    box-shadow: 0 3px 4px #5d645d;
 cursor: pointer;
}
 .footer button:hover{
 transform: scale(0.9);
}